@import url(https://fonts.googleapis.com/css?family=Merriweather:300,900);
html, body {

    display: flex;
    flex-direction: column;

    margin:0;
    height:100%;
    background-color: #1a1a1a;
    min-height: 100vh
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1a1a1a;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #ff8c00;
}

#image{
    text-underline: darkorange;
    font-size: 4rem;
    color:white;
    background-image: url("https://www.ncl.ac.uk/mediav8/sport-/Weights-gym-right-aligned.jpg");
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#hero-main-text{
    margin-left: 10%;
    margin-right: 10%;
}
#hero-main-text h1,p {
    color:white;
}

#hero-showcase {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
}

.hero-showcase-image {
    width: 50%;
    height: 20%;

}
footer {
    margin-top: auto;

    bottom: 0;
    width: 100%;
    /* Height of the footer*/
    height: 10%;
    background: #1e1e1e;

}
footer p {
    text-align: right;
    margin-right: 10%;
}

.menu{
    margin-right: 2%;
}
p,h1,h2,h3{
    font: 300 1em/1.5 'Merriweather', serif;
}
.page-container{
    width: 100%;
    height: 100%;
}